<mat-toolbar *ngIf="user.length">
    <div style=" height: 100px;">
        <img src="assets/Img/RB Logo.png" style="width: 110px; height: 110px; object-fit: cover;">
    </div>

    <div style=" display: flex; justify-content: space-between; width: 100%;" class="font-Login">

        <div style="display: flex; flex-direction: row; align-items: center;">
            <span style="font-size: 50px; color: #fff; font-weight: bold;">Ranking</span>
            <span style="font-size: 50px; color: #7e7e7e; font-weight: bold; font-style: italic;">Bike</span>
        </div>
        <div style="display: flex; align-items: center; ">
            <div style="margin-right: 50px;">
                <button mat-button class="selected" style="color: #fff; font-weight: bold; margin-right: 30px;">HOME</button>
                <button mat-button style="color: #fff; font-weight: bold; margin-right: 30px;"
                [routerLink]="['/vote']">VOTE</button>
                <button mat-button  style="color: #fff; font-weight: bold; margin-right: 30px;"
                    [routerLink]="['/about']">ABOUT</button>
                <button mat-button style="color: #fff; font-weight: bold; margin-right: 30px;"
                    (click)="goToRank()">RANK</button>

                <mat-icon style=" color: #fff; cursor: pointer; position: relative; bottom: -3.5px;" fontIcon="logout"
                    (click)="logout()"></mat-icon>
            </div>
            <div style="display: flex; align-items: center;">
                <ng-container *ngFor="let item of user">
                    <img class="hoveimg" *ngIf="item.img" src="{{item.img}}"
                        style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; cursor: pointer;"
                        [routerLink]="['/profile', item.uid]">
                    <img class="hoveimg" *ngIf="!item.img"
                        src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638_1280.png"
                        style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; cursor: pointer;"
                        [routerLink]="['/profile', item.uid]">
                </ng-container>
            </div>
        </div>
    </div>
</mat-toolbar>

<div style="height: 90%; display: flex; justify-content: center; flex-direction: column; align-items: center; "
    *ngIf="user.length">

    <div style="display: flex;">
        <div style="width: 550px; position: relative; right: -60px; height: 540px; border-radius: 10px; "
            class="filter">

            <p style="display: flex; text-align: center; font-size: 14px; color: #fff; padding: 20px;"
                class="font-main">
                คุณสามารถอัพโหลดรูปภาพ “บิ๊กไบค์” ของคุณ
                เพื่อนำรูปภาพของคุณ
                เข้าร่วมการโหวตบิ๊กไบค์ที่กำลังเป็นที่นิยม
                หรือเพื่อดูว่ามีผู้คนชื่นชอบบิ๊กไบค์ของคุณ
                มากน้อยเพียงใด
                นอกจากจากนั้นคุณยังสามารถกดโหวตให้กับบิ๊กไบค์ทีุ่ณชื่นชอบได้อีกด้วย
                <br>
                สามารถกดเลือกอัพโหลดรูปภาพ
                หรือเข้าร่วมโหวตได้ที่ปุ่มด้านล่างเลย
            </p>
            <div style="display: flex; justify-content: center; ">
                <div>
                    <div (click)="openPopup()">
                        <button class="cybr-btn upload-btn">
                            Upload<span aria-hidden>_</span>
                            <span aria-hidden class="cybr-btn__glitch">Upload</span>
                            <span aria-hidden class="cybr-btn__tag">R25</span>
                        </button>
                    </div>

                </div>
                <div style="margin-left: 50px;" (click)="goToVote()">
                    <button class="cybr-btn vote-btn">
                        Vote<span aria-hidden>_</span>
                        <span aria-hidden class="cybr-btn__glitch">Vote</span>
                        <span aria-hidden class="cybr-btn__tag">R25</span>
                    </button>
                </div>
            </div>

        </div>


        <div style="display: flex; justify-content: center;  position: relative; margin-top: 50px; left: -50px; ">
            <div style="display: flex; justify-content: center;">
                <img src="assets/Img/2-5-e1673951353164.png" style="width: 650px; height: 520px;">
            </div>

        </div>
    </div>
</div>

<mat-toolbar *ngIf="!user.length">
    <div style=" height: 100px;">
        <img src="assets/Img/RB Logo.png" style="width: 110px; height: 110px; object-fit: cover;">
    </div>

    <div style=" display: flex; justify-content: space-between; width: 100%;" class="font-Login">

        <div style="display: flex; flex-direction: row; align-items: center;">
            <span style="font-size: 50px; color: #fff; font-weight: bold;">Ranking</span>
            <span style="font-size: 50px; color: #7e7e7e; font-weight: bold; font-style: italic;">Bike</span>
        </div>
        <div style="display: flex; align-items: center; ">
            <div style="margin-right: 50px;">
                <button mat-button style="color: #fff; font-weight: bold; margin-right: 30px;"
                class="selected"  [routerLink]="['/']">HOME</button>
                <button mat-button style="color: #fff; font-weight: bold; margin-right: 30px;"
                [routerLink]="['/vote']">VOTE</button>
                <button mat-button  style="color: #fff; font-weight: bold; margin-right: 30px;"
                    [routerLink]="['/about']">ABOUT</button>
                <button mat-button [routerLink]="['/rank']" (click)="goToRank()"
                    style="color: #fff; font-weight: bold; margin-right: 30px;">RANK</button>
                <mat-icon style=" color: #fff; cursor: pointer; position: relative; bottom: -3.5px;" fontIcon="login"
                    [routerLink]="['/']"></mat-icon>
            </div>
        </div>
    </div>
</mat-toolbar>



<div style="height: 90%; display: flex; align-items: center; justify-content: center; flex-direction: column; "
    *ngIf="!user.length">

    <div style="display: flex; ">
        <div style="width: 550px; position: relative; right: -60px; height: 540px; border-radius: 10px; "
            class="filter">

            <p style="display: flex; text-align: center; font-size: 14px; color: #fff; padding: 20px;"
                class="font-main">
                คุณสามารถอัพโหลดรูปภาพ “บิ๊กไบค์” ของคุณ
                เพื่อนำรูปภาพของคุณ
                เข้าร่วมการโหวตบิ๊กไบค์ที่กำลังเป็นที่นิยม
                หรือเพื่อดูว่ามีผู้คนชื่นชอบบิ๊กไบค์ของคุณ
                มากน้อยเพียงใด
                นอกจากจากนั้นคุณยังสามารถกดโหวตให้กับบิ๊กไบค์ทีุ่ณชื่นชอบได้อีกด้วย
                <br>
                สามารถกดเลือกอัพโหลดรูปภาพ
                หรือเข้าร่วมโหวตได้ที่ปุ่มด้านล่างเลย
            </p>
            <div style="display: flex; justify-content: center;">
                <div style="display: flex; justify-content: center; align-items: center; width: 300px; ">

                    <div style="margin-left: 50px;" [routerLink]="['/vote']">
                        <button class="cybr-btn vote-btn">
                            Vote<span aria-hidden>_</span>
                            <span aria-hidden class="cybr-btn__glitch">Vote</span>
                            <span aria-hidden class="cybr-btn__tag">R25</span>
                        </button>
                    </div>

                </div>
            </div>

        </div>

        <div style="display: flex; justify-content: center;  position: relative; margin-top: 50px; left: -50px; ">
            <div style="display: flex; justify-content: center;">
                <img src="assets/Img/2-5-e1673951353164.png" style="width: 650px; height: 520px;">
            </div>
        </div>
    </div>

</div>



<!-- Popup -->
<div class="popup" id="popup">
    <h2>Upload Picture</h2>
    <div style="display: flex; justify-content: center; ">
        <div style="display: flex; flex-direction: column; width: 300px;">
            <div *ngIf="file;">
                <img style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); width: 150px; height: 150px; border-radius: 50%; object-fit: cover;"
                    [src]="file ? getImageUrl() : ''">
            </div>
            <div style="display: flex; align-items: center; justify-content: center; position: relative; top: 20px;">
                <mat-form-field class="dense-5 comment" appearance="outline" style="width: 300px;">
                    <mat-label style="color: rgb(53, 53, 53);">ชื่อรถของคุณ</mat-label>
                    <input class="comment" matInput placeholder="กรอกชื่อรถ" type="text" [(ngModel)]="imageName">
                </mat-form-field>
            </div>
            <div style="display: flex; margin-top: 10px; align-items: center; justify-content: center;">
                <h1 style="font-size: 15px; color: black ;">PICTURE: </h1>
                <input type="file" (change)="onFileSelected($event)" />
            </div>
        </div>
    </div>

    <button style="background-color: rgb(23, 16, 162); color: white;" class="buttonupload hoveimg" type="button"
        (click)="uploadImage()">
        Upload
    </button>

    <button class="buttoncloses hoveimg" type="button" (click)="closePopup()">
        Close
    </button>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="darkb-overlay" *ngIf="popupVisible"></div>

<!-- Success Box -->

<div id="success-box" *ngIf="uploadSuccess">
    <div class="dot"></div>
    <div class="dot two"></div>
    <div class="face">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message">
        <h1 class="alert">Success!</h1>
        <p style="font-size: 16px;">yay, everything is working.</p>
    </div>
    <button class="button-box" (click)="closeSuccessBox()">
        <h1 class="green">continue</h1>
    </button>
</div>

<div class="darkb-overlay" *ngIf="uploadSuccess"></div>
<div id="error-box" *ngIf="uploadError">
    <div class="dot"></div>
    <div class="dot two"></div>
    <div class="face2">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth sad"></div>
    </div>
    <div class="shadow move"></div>
    <div class="message">
        <h1 class="alert">Error!</h1>
        <p style="font-size: 16px;">oh no, sorry is full.</p>
    </div>
    <button class="button-box" (click)="tryAgain()">
        <h1 class="red">try again</h1>
    </button>
</div>
<div class="darkb-overlay" *ngIf="uploadError"></div>