mat-toolbar{
    background: transparent;
    height: 70px;
    padding-left:70px; 
    padding-right:70px
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.font-Login{
    font-family: 'Bebas Neue', sans-serif;
}
.font-Login button:hover{
    background-color: rgb(37, 37, 37);
}
.font-main{
    font-family: 'Mitr', sans-serif;
}
.font-vote{
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #fff;
   
}
.img-vote{
    display: flex;
    justify-content: space-evenly;
}
.vote-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: aqua;
    width: 665px;
    color: #fff;
}
.filter{
    backdrop-filter: blur(0px);
    background: linear-gradient(
      135deg,
      rgba(121, 3, 3, 0.588),
      rgba(109, 0, 0, 0)
    );
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
::ng-deep .dense-4 .mdc-notched-outline > *{
    border-color: rgb(155, 155, 155) !important;
}

.dense-4 textarea::placeholder{
    color: rgb(182, 182, 182);
}

.dense-4 input::placeholder{
    color: rgb(87, 87, 87);
}

.btn{   
    color: #fff;
    font-size: 21px;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    background: #fff;
    color: #000;
    box-shadow: 0 0 50px #fff,0 0  21px #fff;
    transition: all 0.6s ease;
}
.btn-full{
    background: #fff;
    color: #000;
}
.btn-full:hover{
    background: #000;
    color: #fff;
    box-shadow: 0 0 21px 0 #fff inset,0 0 50px 0 #fff;
}

.btn1{   
    color: #fff;
    font-size: 21px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
}
.btn1:hover{
    background: rgb(255, 0, 0);
    color: #fff;
    box-shadow: 0 0 50px rgb(255, 0, 0),0 0  21px rgb(255, 0, 0);
    transition: all 0.6s ease;
}
.btn-full1{
    background: rgb(255, 0, 0);
    color: #fff;
}
.btn-full1:hover{
    background: #fff;
    color: rgb(255, 0, 0);
    box-shadow: 0 0 21px 0 rgb(255, 0, 0) inset,0 0 50px 0 rgb(255, 0, 0);
}
.hoveimg {
    transition: transform 0.2s ease; /* เพิ่ม transition เพื่อทำให้การเปลี่ยนแปลงเกิดขึ้นอย่างนุ่มนวล */
}

.hoveimg:hover {
    transform: scale(1.2); /* ซูมภาพให้ขนาดเพิ่มขึ้น 10% เมื่อ hover */
}
// .btn-vote {
//     color: #fff;
//     background: #ff6c6c;
//     border: solid 3px #a80c0c;
//     background: linear-gradient(180deg, #f0cdcd 0%, #b85252 35%, #b10101 100%);
//     border-radius: 20px;
//     padding: .75rem 1.5rem;
//     width: 100px;
//     height: 45px;
//     font-size: 22px;
    
// }
.mat-mdc-button:not(:disabled) {
    --mdc-text-button-label-text-color: #ffffff;
}

@import 'https://fonts.googleapis.com/css?family=Rubik+One';

%test {
    position: absolute;
    content: '';
    transition: all .5s;
}
.img{
    transition: transform 0.2s ease;
}
.img:hover{
    transform: scale(1.1);
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* เพิ่มสีพื้นหลังที่มืดลงเบาๆ เมื่อแสดง popup */
    backdrop-filter: blur(10px); /* เพิ่มความเบลอให้กับพื้นหลัง */
  }
  
  
  @keyframes popup-animation {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  
.wrapper .icon{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon span{
    height: 40px;
    width: 40px;
    display: block;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 50%;
    

}
.wrapper .icon span mat-icon{
    font-size: 25px;
    position: relative;
    top: 7px;
    color: rgb(195, 16, 16);
}
.wrapper .icon .tooltip{
    background: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    color: rgb(195, 16, 16);
    font-weight: bold;
}
.wrapper .icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    top: -70px;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover span:before{
    background:  rgb(195, 16, 16);
}

.wrapper .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);

}
.wrapper .icon:hover span mat-icon{
    color: #fff;
}


 
.wrappers .icon{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrappers .icon span{
    height: 40px;
    width: 40px;
    display: block;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 50%;
    

}
.wrappers .icon span mat-icon{
    font-size: 25px;
    position: relative;
    top: 7px;
    color: rgb(195, 16, 16);
}
.wrappers .icon .tooltip{
    background: #ffffff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    color: rgb(195, 16, 16);
    font-weight: bold;
    width: 450px;

}
.wrappers .icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    top: -360px;
}
.wrappers .icon:hover span,
.wrappers .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrappers .facebook:hover span,
.wrappers .facebook:hover span:before{
    background:  rgb(195, 16, 16);
}

.wrappers .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrappers .icon:hover span mat-icon{
    color: #fff;
}


.custom-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* เพิ่มสีพื้นหลังเมื่อโฮเวอร์ */
  }
  .selected {
    background-color: rgba(0, 0, 0, 0.1); /* เปลี่ยนสีพื้นหลังเมื่อปุ่มถูกเลือก */
    border: 2px solid #fff; /* เปลี่ยนขนาดของเส้นตามต้องการ */
  }