<mat-toolbar *ngIf="user.length">
    <div style="height: 100px">
        <img src="assets/Img/RB Logo.png" style="width: 110px; height: 110px; object-fit: cover" />
    </div>

    <div style="display: flex; justify-content: space-between; width: 100%" class="font-Login">
        <div style="display: flex; flex-direction: row; align-items: center">
            <span style="font-size: 50px; color: #fff; font-weight: bold">Ranking</span>
            <span style="
            font-size: 50px;
            color: #7e7e7e;
            font-weight: bold;
            font-style: italic;
          ">Bike</span>
        </div>
        <div style="display: flex; align-items: center; ">
            <div style="margin-right: 50px;">
                <button mat-button style="color: #fff; font-weight: bold; margin-right: 30px;"
                [routerLink]="['/main']">HOME</button>
                    <button mat-button style="color: #fff; font-weight: bold; margin-right: 30px;"
                     [routerLink]="['/vote']">VOTE</button>
                    <button mat-button  style="color: #fff; font-weight: bold; margin-right: 30px;"
                        [routerLink]="['/about']">ABOUT</button>
                <button mat-button class="selected" style="color: #fff; font-weight: bold; margin-right: 30px;"
                    (click)="goToRank()">RANK</button>

                <mat-icon style=" color: #fff; cursor: pointer; position: relative; bottom: -3.5px;" fontIcon="logout"
                    (click)="logout()"></mat-icon>
            </div>
            <div style="display: flex; align-items: center;">
                <ng-container *ngFor="let item of user">
                    <img class="hoveimg" *ngIf="item.img" src="{{item.img}}"
                        style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; cursor: pointer;"
                        [routerLink]="['/profile', item.uid]">
                    <img class="hoveimg" *ngIf="!item.img"
                        src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638_1280.png"
                        style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; cursor: pointer;"
                        [routerLink]="['/profile', item.uid]">
                </ng-container>
            </div>
        </div>
    </div>
</mat-toolbar>

<mat-toolbar *ngIf="!user.length">
    <div style=" height: 100px;">
        <img src="assets/Img/RB Logo.png" style="width: 110px; height: 110px; object-fit: cover;">
    </div>

    <div style=" display: flex; justify-content: space-between; width: 100%;" class="font-Login">

        <div style="display: flex; flex-direction: row; align-items: center;">
            <span style="font-size: 50px; color: #fff; font-weight: bold;">Ranking</span>
            <span style="font-size: 50px; color: #7e7e7e; font-weight: bold; font-style: italic;">Bike</span>
        </div>
        <div style="display: flex; align-items: center; ">
            <div style="margin-right: 50px;">
                <button mat-button style="color: #fff; font-weight: bold; margin-right: 30px;"
                [routerLink]="['/main']">HOME</button>
                    <button mat-button style="color: #fff; font-weight: bold; margin-right: 30px;"
                    [routerLink]="['/vote']">VOTE</button>
                    <button mat-button  style="color: #fff; font-weight: bold; margin-right: 30px;"
                        [routerLink]="['/about']">ABOUT</button>
                <button mat-button mat-button class="selected" [routerLink]="['/rank']" (click)="goToRank()"
                    style="color: #fff; font-weight: bold; margin-right: 30px;">RANK</button>
                <mat-icon style=" color: #fff; cursor: pointer; position: relative; bottom: -3.5px;" fontIcon="login"
                    [routerLink]="['/']"></mat-icon>
            </div>
        </div>
    </div>
</mat-toolbar>

<div style="display: flex; justify-content: center; height: 130px; align-items: center;">
    <div style="flex-direction: column; text-align: center;">
        <h1 style="color: #fff; font-size: 40px;">RANKING TODAY</h1>
        <p style="color: #fff; font-size: 20px; margin-top: -20px; ">BIKBIKE
            ที่มีคะแนนสะสมสูงสุด
            อันดับ1-10</p>
    </div>
</div>

<!-- <div style="display: flex;  justify-content: center; margin-top: 10px;" >
    <div class="buttons">
      <button (click)="loadBeforeDay()">
        before
      </button>
      <button (click)="loadToday()">
        today
      </button>
    </div>
  </div> -->

<div style="height: 1250px;">

    <div style="display: flex; justify-content: center;   margin-top: 20px; ">

        <div style="display: grid; grid-template-columns: 1fr ; grid-gap: 20px;">
            <div *ngFor="let item of this.userbefore; let i = index"
                style="display: flex; flex-direction: column;  text-align: center; ">

                <div
                    style=" backdrop-filter: blur(5px); background-color: rgba(39, 39, 39, 0.5); width: 650px; height: 200px; margin-top: 20px; border-bottom-right-radius: 100px; border-top-right-radius: 100px; border-top-left-radius: 100px; border-bottom-left-radius: 100px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);">

                    <div style="display: flex; justify-content: space-between;">
                        <div style="display: flex; justify-content: center;  width: 400px; ">
                            <div style="width: 100px;">

                            </div>
                            <div style="flex-direction: column; display: flex; align-items: center; ">

                                <h1 style="color: #fff; font-size: 25px; height: 15px;">อันดับ
                                    {{ i + 1 }}</h1>
                                <h1 style="color: #fff; font-size: 15px; height: 5px;">{{
                                    item.bname }}</h1>
                                    
                                <h1 style="color: #dde100; font-size: 17px; height: 5px;">คะแนน
                                    {{ item.total_score }}</h1>

                                

                                <p style="color: #fff; height: 5px;">อันดับเมื่อวานอยู่อันดับที่ : &nbsp;{{item.rankingyester}}</p>
                                <div style="display: flex; height: 35px; color: #fff;">
                                    <p >{{item.rank_change}} &nbsp;</p>
                                    <p>{{item.rank_difference}} &nbsp; อันดับ</p>
                                </div>

                            </div>
                        </div>

                        <img *ngIf="user.length" src="{{item.bimg}}"
                            style="width: 200px; height: 200px; border-radius: 50%; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); cursor: pointer; object-fit: cover;"
                            class="hoveimg" (click)="goToSeeProfile(item.bid)">
                            <img *ngIf="!user.length" src="{{item.bimg}}"
                            style="width: 200px; height: 200px; border-radius: 50%; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); cursor: pointer; object-fit: cover;"
                            class="hoveimg" (click)="goToSeeProfile(item.bid)">
                    </div>
                </div>
            </div>
        </div>

        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
            <p style="color: white"> Loading... </p>
        </ngx-spinner>